---
import '../styles/global.css';

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Nabusim website.">
  <main>
    <Hero />
    <!-- Works -->
    <!-- Contact -->
  </main>
</Layout>
<style>
  main {
    min-height: 100vh; /* temporal */
  }
</style>
